# Calcolo delle intensit√† di precipitazione J

Matteo Franzoi - Andrea Rebellato - 2019-04-17

---

In [4]:
import os
from pandas import *
import pandas as pd
from numpy import *
import numpy as np
import math

I valori di _a_ e *n* derivanti dagli scrosci sono:

In [5]:
fnl = read_pickle('an_scrosci')
fnl

            n          a
10   0.322767   8.879665
20   0.314941  10.396587
100  0.302785  13.849631

In [6]:
def j(tp, fn, row):
    return fn['a'][row] * tp**(fn['n'][row]-1)

In [7]:
jj = pd.DataFrame(
    [[
        j(5/60, fnl, 10),
        j(5/60, fnl, 20),
        j(5/60, fnl, 100)
    ],
    [
        j(10/60, fnl, 10),
        j(10/60, fnl, 20),
        j(10/60, fnl, 100)
    ],
    [
        j(15/60, fnl, 10),
        j(15/60, fnl, 20),
        j(15/60, fnl, 100)
    ],
    [
        j(20/60, fnl, 10),
        j(20/60, fnl, 20),
        j(20/60, fnl, 100)
    ],
    [
        j(25/60, fnl, 10),
        j(25/60, fnl, 20),
        j(25/60, fnl, 100)
    ]],
    columns = ['Tr = 10y', 'Tr = 20y', 'Tr = 100y'],
    index = ['5min', '10min', '15min', '20min', '25min']
).T
jj

                5min      10min      15min      20min      25min
Tr = 10y   47.780861  29.880404  22.705529  18.686112  16.065279
Tr = 20y   57.041849  35.478913  26.874315  22.067188  18.939039
Tr = 100y  78.317726  48.303355  36.408581  29.791648  25.499248

I dati appena trovati verranno utilizzati nel software SWMM, in particolare nelle timeseries.